<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap">
    <title>Spotify Wrapper</title>
</head>
    <body>
        <h1>Welcome to Spotify Wrapper</h1>
        <p>Click the button below to log in:</p>
        <a href="/login">
            <button>Login with Spotify</button>
        </a>
        <div class="footer-image">
            <a href="https://github.com/CaiosHenrique" target="_blank">
                <img src="/Caio_Click.png">
            </a>
        </div>
    </body>
</html>